.DS_Store
.vscode
.cache_*/
.rts2_cache/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
dev/
dist/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Test files
coverage

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


